body {
    background-color: rgb(0, 0, 0);
}

a {
    text-decoration: none;
}

.text-justify{
    text-align: justify;
}

.cardImg{
    width: 90%;
    height: 50%;
    background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
    border-radius: 20px;
    transition: all .3s;
}

.card2:hover {
    transform: scale(0.98);
    border-radius: 20px;
}
   
.cardImg:hover {
    box-shadow: 0px 0px 30px 10px rgba(255, 255, 255, 0.3);
}

.button {
    position: relative;
    background-color: transparent;
    color: #e8e8e8;
    font-size: 17px;
    font-weight: 600;
    border-radius: 10px;
    width: 150px;
    height: 60px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(51, 51, 51, 0.2);
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .button::before {
    content: "Full Portfolio";
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: white;
    color: black;
    /* background: linear-gradient(135deg,#7b4397,#0040ff ); */
    transform: translate(0%,90%);
    z-index: 99;
    position: relative;
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    text-decoration: none;
  }
  
  .button::after {
    content: "More";
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transform-origin: top;
    transform: translate(0%,-100%);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .button:hover::before {
    transform: translate(0%,0%);
  }
  
  .button:hover::after {
    transform: translate(0%,-200%);
  }
  
  .button:focus {
    outline: none;
  }
  
  .button:active {
    scale: 0.95;
  }

  .profile {
    width: 70%;
    margin: 0 auto;
    height: 390px;
    position: relative;
    background: #f5f5f5;
    color: #252525;
    border-radius: 4px;
    overflow: hidden;
    line-height: 150%;
    box-shadow: 0px 10px 20px rgba(0, 255, 191, 0.2);
    transition: box-shadow .3s ease-in-out;
}

  
  .profile-info {
    position: absolute;
    bottom: 1em;
    width: 100%;
    text-align: center;
  }
  
  /* Image */
  .profile-img{
    background: #00ff88;
    background: linear-gradient(to top, #00ff88, #61efff);
    height: auto;
    width: auto;
    position: absolute;
    transition: transform .3s ease-in-out;
    z-index: 2;
  }

  .profile-img img{
    max-width: 100%;
    max-height: 100%;
  }
  
  
  /* Buttons */
  .social-media {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 1rem;
    transform: translateY(-6em);
    z-index: 3;
  }
  
  .social-media li {
    background: #f5f5f5;
    display: inline-flex;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    transition: all .3s ease-in;
  }
  
  /* Icons */
  .social-media li svg {
    --size: 24px;
    width: var(--size);
    height: var(--size);
    fill: #252525;
  }
  
  /* Texts */
  .title {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .subtitle {
    letter-spacing: 1px;
    font-size: 0.9em;
  }
  
  /* Hovers */
  .profile:hover {
    box-shadow: 0px 15px 30px rgba(80, 80, 80, 0.3);
  }
  
  .profile:hover .profile-img {
    transform: translateY(-11em);
  }
  
  .profile:hover .social-media li {
    transform: translateY(-5%);
    opacity: 1;
  }
  
  .profile:hover .social-media li:nth-child(1) {
    transition-delay: 0s;
  }
  
  .profile:hover .social-media li:nth-child(2) {
    transition-delay: .1s;
  }
  
  .profile:hover .social-media li:nth-child(3) {
    transition-delay: .2s;
  }
  


  /* Profile Info */
.profile-info {
    position: absolute;
    bottom: 1em;
    width: 100%;
    text-align: center;
  }
  
  /* Profile Image */
  .profile-img {
    background: #00ff88;
    background: linear-gradient(to top, #00ff88, #61efff);
    height: auto;
    width: auto;
    position: absolute;
    transition: transform .3s ease-in-out;
    z-index: 2;
  }
  
  .profile-img img {
    max-width: 100%;
    max-height: 100%;
  }
  

  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    background-color: #0d0b0b;
    padding: 20px;
    border-radius: 10px;
    position: relative;
  }
  
  .message {
    color: rgba(255, 255, 255, 0.822);
    font-size: 14px;
  }
  
  .flex {
    display: flex;
    width: 100%;
    gap: 6px;
  }
  
  .form label {
    position: relative;
  }
  
  .form label .input {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 5px;
  }
  

  .form label {
    color: rgb(255, 255, 255);
  }
  
  .input01 {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(255, 255, 255, 0.397);
    border-radius: 5px;
  }
  
/* testing new button */

.button2 {
  --hover-shadows: 16px 16px 33px #201d1d,
    -16px -16px 33px #404040;
  --accent: rgb(255, 255, 255);
  font-weight: bold;
  letter-spacing: 0.1em;
  border: none;
  border-radius: 1.1em;
  background-color: #343a40;
  color: white;
  padding: 1em 2em;
  transition: box-shadow ease-in-out 0.3s,
    background-color ease-in-out 0.1s,
    letter-spacing ease-in-out 0.1s,
    transform ease-in-out 0.1s;
  box-shadow: 13px 13px 10px #1c1c1c,
    -13px -13px 10px #1f2326;
}

.button2:hover {
  box-shadow: var(--hover-shadows);
}

.button2:active {
  box-shadow: var(--hover-shadows),
    var(--accent) 0px 0px 30px 5px;
  background-color: var(--accent);
  transform: scale(0.95);
}


/* testing new bg */

.bg-custom{
  background-color: #212121;
}

.nav-tabs .nav-link {
  color: white; /* Set the default text color */
}

.nav-tabs .nav-link.active {
  background-color: white; /* Set the background color for the active tab */
  color: #343a40; /* Set the text color for the active tab */
}



/* button test 3 */

.btn-submit {
  font-family: inherit;
  font-size: 20px;
  background: #343a40;
  color: rgb(255, 255, 255);
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
}

.btn-submit span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.btn-submit svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}
.btn-submit:hover{
  color: white;
}

.btn-submit:hover .svg-wrapper {
  color: white;
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.btn-submit:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.btn-submit:hover span {
  transform: translateX(5em);
}

.btn-submit:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}
