body {
    background-color: rgb(0, 0, 0);
}

a {
    text-decoration: none;
}

.text-justify{
    text-align: justify;
}

.cardImg{
    width: 90%;
    height: 50%;
    background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
    border-radius: 20px;
    transition: all .3s;
}
   

   
.card2:hover {
    transform: scale(0.98);
    border-radius: 20px;
}
   
.cardImg:hover {
    box-shadow: 0px 0px 30px 10px rgba(0, 255, 117, 0.30);
}

.button {
    position: relative;
    background-color: transparent;
    color: #e8e8e8;
    font-size: 17px;
    font-weight: 600;
    border-radius: 10px;
    width: 150px;
    height: 60px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(51, 51, 51, 0.2);
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .button::before {
    content: "Full Portfolio";
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(135deg,#7b4397,#0040ff );
    transform: translate(0%,90%);
    z-index: 99;
    position: relative;
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    text-decoration: none;
  }
  
  .button::after {
    content: "More";
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transform-origin: top;
    transform: translate(0%,-100%);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .button:hover::before {
    transform: translate(0%,0%);
  }
  
  .button:hover::after {
    transform: translate(0%,-200%);
  }
  
  .button:focus {
    outline: none;
  }
  
  .button:active {
    scale: 0.95;
  }

  
  .profile {
    width: 70%;
    height: 454px;
    position: relative;
    background: #f5f5f5;
    color: #252525;
    border-radius: 4px;
    overflow: hidden;
    line-height: 150%;
    box-shadow: 0px 10px 20px rgba(0, 255, 191, 0.2);
    transition: box-shadow .3s ease-in-out;
  }
  
  .profile-info {
    position: absolute;
    bottom: 1em;
    width: 100%;
    text-align: center;
  }
  
  /* Image */
  .profile-img{
    background: #00ff88;
    background: linear-gradient(to top, #00ff88, #61efff);
    height: auto;
    width: auto;
    position: absolute;
    transition: transform .3s ease-in-out;
    z-index: 2;
  }

  .profile-img img{
    max-width: 100%;
    max-height: 100%;
  }
  
  
  /* Buttons */
  .social-media {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 1rem;
    transform: translateY(-6em);
    z-index: 3;
  }
  
  .social-media li {
    background: #f5f5f5;
    display: inline-flex;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    transition: all .3s ease-in;
  }
  
  /* Icons */
  .social-media li svg {
    --size: 24px;
    width: var(--size);
    height: var(--size);
    fill: #252525;
  }
  
  /* Texts */
  .title {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .subtitle {
    letter-spacing: 1px;
    font-size: 0.9em;
  }
  
  /* Hovers */
  .profile:hover {
    box-shadow: 0px 15px 30px rgba(80, 80, 80, 0.3);
  }
  
  .profile:hover .profile-img {
    transform: translateY(-11em);
  }
  
  .profile:hover .social-media li {
    transform: translateY(-5%);
    opacity: 1;
  }
  
  .profile:hover .social-media li:nth-child(1) {
    transition-delay: 0s;
  }
  
  .profile:hover .social-media li:nth-child(2) {
    transition-delay: .1s;
  }
  
  .profile:hover .social-media li:nth-child(3) {
    transition-delay: .2s;
  }
  


  /* Profile Info */
.profile-info {
    position: absolute;
    bottom: 1em;
    width: 100%;
    text-align: center;
  }
  
  /* Profile Image */
  .profile-img {
    background: #00ff88;
    background: linear-gradient(to top, #00ff88, #61efff);
    height: auto;
    width: auto;
    position: absolute;
    transition: transform .3s ease-in-out;
    z-index: 2;
  }
  
  .profile-img img {
    max-width: 100%;
    max-height: 100%;
  }
  

  .form {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 30px 30px -30px rgba(27, 26, 26, 0.315);
  }
  
  .form .title {
    color: royalblue;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .form input {
    outline: 0;
    border: 1px solid rgb(219, 213, 213);
    padding: 8px 14px;
    border-radius: 8px;
    width: 100%;
    height: 50px;
  }
  
  .form textarea {
    border-radius: 8px;
    height: 100px;
    width: 100%;
    resize: none;
    outline: 0;
    padding: 8px 14px;
    border: 1px solid rgb(219, 213, 213);
  }
  
  .form button {
    align-self: flex-end;
    padding: 8px;
    outline: 0;
    border: 0;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    background-color: royalblue;
    color: #fff;
    cursor: pointer;
  }
  
/* testing new button */

.button2 {
  --hover-shadows: 16px 16px 33px #121212,
    -16px -16px 33px #303030;
  --accent: fuchsia;
  font-weight: bold;
  letter-spacing: 0.1em;
  border: none;
  border-radius: 1.1em;
  background-color: #212121;
  color: white;
  padding: 1em 2em;
  transition: box-shadow ease-in-out 0.3s,
    background-color ease-in-out 0.1s,
    letter-spacing ease-in-out 0.1s,
    transform ease-in-out 0.1s;
  box-shadow: 13px 13px 10px #1c1c1c,
    -13px -13px 10px #262626;
}

.button2:hover {
  box-shadow: var(--hover-shadows);
}

.button2:active {
  box-shadow: var(--hover-shadows),
    var(--accent) 0px 0px 30px 5px;
  background-color: var(--accent);
  transform: scale(0.95);
}


/* testing new bg */

.bg-custom{
  background-color: #212121;
}